@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@200&display=swap');
.MainText{
   font-family: 'Oswald';
   letter-spacing: 4px;
   @apply text-3xl my-3    
}

.TextArea{
    font-size: x-large;
    @apply border-black border-2
}